:root {
    /* Color */
    --kaki: #7A866A;
    --kaki-light: hsla(86, 12%, 47%, 0.2);

    --red: #EA3327;
    --red-light: hsla(339, 57%, 72%, 0.2);

    --pink: #E190AC;
    --pink-light: hsla(339, 57%, 72%, 0.2);

    /* Var */
    --color-principal: var(--kaki); /* (header, titre, buttons, svg, footer links) */
    --footer-bckg: var(--kaki-light);
}



*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins' !important;
    overflow-x: hidden;
}

p {
    margin-bottom: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0 !important;
}


/* HEADER */

header {
    width: 100%;
    background: #fff;
    text-align: center;
}

.header_promo {
    width: 100%;
    height: 44px;
    background: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_promo p {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    color: #fff;
}

.header_logo {
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo a svg path {
    fill: var(--color-principal);
}

/* MAIN */

main {
    margin: 0 20%;
}

/* COMMANDE */

.commande {
    width: fit-content;
    margin: 75px auto 0;
}

.commande h1 {
    font-weight: 700;
    font-size: 39px;
    line-height: 32px;
    color: #1F1F23;
    margin-bottom: 30px !important;
}

.commande_Box {
    width: 100%;
    max-width: 1152px;
    background: #FFFFFF;
    border: 1px solid #E7EAEC;
    border-radius: 10px;
    padding: 40px 80px 50px;
    display: flex;
    gap: 100px;
}

.commande_Box_img {
    width: 407px;
    height: 407px;
    background: rgba(122, 134, 106, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commande_Box_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.commande_Box_content_head_promo {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.commande_Box_content_head_promo h3 {
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    color: #1F1F23;
}

.commande_Box_content_head_promo h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: absolute;
    right: -75px;
    z-index: 100;
    width: 107px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.commande_Box_content_head_promo svg {
    position: absolute;
    right: -91px;
}

.commande_Box_content_head_promo svg path {
    fill: var(--color-principal);
}

.commande_Box_content_head p {
    width: 378px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #1F1F23;
}

.commande_Box_content_body > p:first-child {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: var(--color-principal);
}

.commande_Box_content_body_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.commande_Box_content_body_list_box {
    display: flex;
    gap: 10px;
}

.commande_Box_content_body_list_box svg path {
    fill: var(--color-principal);
}

.commande_box_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 278px;
    height: 49px;
    background: var(--color-principal);
    border-radius: 83px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.commande_box_btn > span:first-child {
    font-weight: 400;
}
#box_btn_light {
    font-weight: 400;
}
#box_btn_small {
    font-size: 10px;
}

.commande_box_btn:hover {
    background-color: transparent;
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
}

.commande_Box_content_body > p:last-child {
    margin-top: 15px;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #1F1F23;
}

.ou {
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #A2A2A2;
    margin-top: 30px;
}

.commande_btn_transp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 49px;
    border: 1px solid var(--color-principal);
    border-radius: 31px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-principal);
    margin: 40px auto 70px;
}

.commande_btn_transp:hover {
    background-color: var(--color-principal);
    color: white;
}

/* FOOTER */

footer {
    background: var(--footer-bckg);
    padding: 2.9% 20% 3.68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo svg path {
    fill: var(--color-principal);
}

.footer_linksContact {
    display: flex;
    justify-content: space-between;
}

.footer_linksContact_nav {
    display: flex;
    flex-direction: row;
    gap: 47px;
}

.footer_linksContact_nav li {
    list-style: none;
}

.footer_linksContact_nav li a {
    font-size: 15px;
    color: var(--color-principal);
    text-decoration: none;
}

/* SMALL MOBILE */

@media (max-width: 425px) {
    body {
        font-size: 14px !important;
    }

    .header_promo p {
        font-size: 14px;
    }
    
    .header_logo svg {
        width: 125px;
    }

    main {
        margin: 0 5%;
    }

    .commande {
        width: auto;
        margin: 0 auto;
    }

    .commande h1 {
        font-size: 30px;
    }

    .commande_Box {
        flex-direction: column;
        padding: 20px;
    }

    .commande_Box_img {
        width: 293px;
        height: 293px;
        margin: 0 auto;
    }

    .commande_Box_img img {
        width: 372px;
        height: 210px;
    }

    .commande_Box_content_head_promo h3 {
        font-size: 23px;
    }

    .commande_Box_content_head_promo h4 {
        font-size: 16px;
        bottom: 60px;
        right: -15px;
    }

    .commande_Box_content_head_promo svg {
        bottom: 50px;
        right: -31px;
    }

    .commande_Box_content_head p {
        width: 100%;
    }

    .commande_Box_content_body_list {
        margin-left: initial;
    }

    .commande_box_btn {
        margin: 0 auto;
    }

    .commande_btn_transp {
        font-size: 12px;
        width: 100%;
        margin: 50px auto;
    }

    footer {
        padding: 10% 5%;
        flex-direction: column;
        gap: 20px;
        align-items: inherit;
    }

    .footer_linksContact_nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer_logo {
        text-align: center;
    }

    .footer_logo svg {
        width: 125px;
    }
    
    .footer_linksContact {
        flex-direction: column;
        gap: 20px;
    }
}

/* MOBILE LARGE */

@media (min-width: 426px) and (max-width: 767px) {
    body {
        font-size: 14px !important;
    }

    .header_promo p {
        font-size: 14px;
    }
    
    .header_logo svg {
        width: 125px;
    }

    main {
        margin: 0 5%;
    }

    .commande {
        width: auto;
        margin: 0 auto;
    }

    .commande h1 {
        font-size: 30px;
    }

    .commande_Box {
        flex-direction: column;
        padding: 20px;
    }

    .commande_Box_img {
        width: 293px;
        height: 293px;
        margin: 0 auto;
    }

    .commande_Box_img img {
        width: 372px;
        height: 210px;
    }

    .commande_Box_content_head_promo h4 {
        bottom: 60px;
        right: -15px;
    }

    .commande_Box_content_head_promo svg {
        bottom: 50px;
        right: -31px;
    }

    .commande_Box_content_head p {
        width: 100%;
    }

    .commande_Box_content_body_list {
        margin-left: initial;
    }

    .commande_box_btn {
        margin: 0 auto;
    }

    footer {
        padding: 10% 5%;
        flex-direction: column;
        gap: 20px;
        align-items: inherit;
    }

    .footer_linksContact_nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer_logo {
        text-align: center;
    }

    .footer_logo svg {
        width: 125px;
    }
    
    .footer_linksContact {
        flex-direction: column;
        gap: 20px;
    }

}

/* TABLET */

@media (min-width: 768px) and (max-width: 1023px) {
    .header_logo svg {
        width: 125px;
    }

    main {
        margin: 0 5%;
    }

    .commande {
        width: auto;
    }

    .commande_Box {
        flex-direction: column;
        align-items: center;
    }

    .commande_box_btn {
        margin: 0 auto;
    }

    footer {
        padding: 2.9% 5% 3.68%;
        gap: 30px;
    }

    .footer_logo svg {
        width: 125px;
    }

    .footer_linksContact_nav {
        gap: 30px;
    }
}

/* LAPTOP */

@media (min-width: 1024px) and (max-width: 1350px) {
    main {
        margin: 0 7.5%;
    }

    .commande {
        width: auto;
    }

    .commande_Box {
        flex-direction: column;
        align-items: center;
    }

    .commande_box_btn {
        margin: 0 auto;
    }

    footer {
        padding: 2.9% 7.5% 3.68%;
        gap: 30px;
    }

    .footer_linksContact_nav {
        gap: 30px;
    }
}

/* LAPTOP LARGE */

@media (min-width: 1351px) {
    main {
        margin: 0 10%;
    }
    footer {
        padding: 2.9% 10% 3.68%;
    }
}

/* 4K DEVICE */

@media (min-width: 1900px) {
    main {
        margin: 0 20%;
    }
    footer {
        padding: 2.9% 20% 3.68%;
    }
}